doctrine_mongodb:
    connections:
        default:
            server: "%env(MONGODB_SERVER)%"
            options: {}
    default_database: '%env(MONGODB_NAME)%'
    auto-generate-hydrator-classes: true
    auto-generate-proxy-classes: true
    enable_lazy_ghost_objects: true
    document_managers:
        default:
            auto_mapping: true
            mappings:
                SpaceObjectPersisted:
                    type: 'xml'
                    dir: '%kernel.project_dir%/config/doctrine'
                    is_bundle: false
                    prefix: 'Teknoo\Space\Object\Persisted'
            metadata_cache_driver: apcu #toto update  to use the framework's cache configuration or allow edit via env

when@prod:
    doctrine_mongodb:
        auto_generate_proxy_classes: false
        auto_generate_hydrator_classes: false
