services:
    db:
        build:
            args:
                MONGO_VERSION: 7
    mercure:
        environment:
            - MERCURE_PUBLISHER_JWT_KEY=ToChange!
            - MERCURE_SUBSCRIBER_JWT_KEY=ToChange!
    fpm:
        environment:
            - APP_ENV=dev
            - APP_REMEMBER_SECRET=ToChange!
            - APP_SECRET=ToChange!
            - MAILER_DSN=ToChange!
            - MAILER_REPLY_TO_ADDRESS=ToChange!
            - MAILER_SENDER_ADDRESS=ToChange!
            - MERCURE_JWT_TOKEN=ToChange!
            - MERCURE_PUBLISH_URL=ToChange!
            - MERCURE_SUBSCRIBER_URL=ToChange!
            - MESSENGER_NEW_JOB_DSN=ToChange!
            - MONGODB_SERVER=ToChange!
            - OAUTH_CLIENT_ID=ToChange!
            - OAUTH_CLIENT_SECRET=ToChange!
            - OAUTH_ENABLED=0
            - OAUTH_SERVER_TYPE=ToChange!
            - OAUTH_SERVER_URL=https://ToChange!/
            - SPACE_2FA_PROVIDER=ToChange!
            - SPACE_CLUSTER_CATALOG_FILE=
            - SPACE_CLUSTER_NAME=ToChange!
            - SPACE_CLUSTER_TYPE=ToChange!
            - SPACE_CODE_GENERATOR_SALT=ToChange!
            - SPACE_JWT_ENABLE_IN_QUERY=0
            - SPACE_JWT_PASSPHRASE=ToChange!
            - SPACE_KUBERNETES_CA_VALUE=
            - SPACE_KUBERNETES_CLUSTER_USE_HNC=0
            - SPACE_KUBERNETES_CREATE_TOKEN=ToChange!
            - SPACE_KUBERNETES_DASHBOARD=https://ToChange!
            - SPACE_KUBERNETES_MASTER=https://ToChange!
            - SPACE_OCI_GLOBAL_REGISTRY_PWD=ToChange!
            - SPACE_OCI_GLOBAL_REGISTRY_URL=ToChange!
            - SPACE_OCI_REGISTRY_URL=.ToChange!
            - SPACE_PERSISTED_VAR_SECURITY_ALGORITHM=rsa
            - SPACE_PERSISTED_VAR_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/variables/public.pem
            - SPACE_SUPPORT_CONTACT=support@teknoo.space
            - TEKNOO_EAST_EXTENSION_DISABLED=
            - TEKNOO_EAST_EXTENSION_FILE=extensions/enabled.json
            - TEKNOO_EAST_EXTENSION_LOADER=Teknoo\East\Foundation\Extension\FileLoader
            - TEKNOO_PAAS_SECURITY_ALGORITHM=rsa
            - TEKNOO_PAAS_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/messages/public.pem
            - PHP_XDEBUG_HOST=172.17.0.1
    cli_new_job:
        environment:

            - APP_ENV=dev
            - APP_SECRET=ToChange!
            - MERCURE_JWT_TOKEN=ToChange!
            - MERCURE_PUBLISH_URL=ToChange!
            - MERCURE_SUBSCRIBER_URL=ToChange!
            - MESSENGER_EXECUTE_JOB_DSN=ToChange!
            - MESSENGER_HISTORY_SENT_DSN=ToChange!
            - MONGODB_SERVER=ToChange!
            - SPACE_JWT_PASSPHRASE=ToChange!
            - SPACE_PERSISTED_VAR_SECURITY_ALGORITHM=rsa
            - SPACE_PERSISTED_VAR_SECURITY_PRIVATE_KEY=/var/www/space/var/keys/variables/private.pem
            - SPACE_PERSISTED_VAR_SECURITY_PRIVATE_KEY_PASSPHRASE=ToChange!
            - SPACE_PERSISTED_VAR_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/variables/public.pem
            - TEKNOO_EAST_EXTENSION_DISABLED=
            - TEKNOO_EAST_EXTENSION_FILE=extensions/enabled.json
            - TEKNOO_EAST_EXTENSION_LOADER=Teknoo\East\Foundation\Extension\FileLoader
            - TEKNOO_PAAS_SECURITY_ALGORITHM=rsa
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY=/var/www/space/var/keys/messages/private.pem
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY_PASSPHRASE=ToChange!
            - TEKNOO_PAAS_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/messages/public.pem
            - PHP_XDEBUG_HOST=172.17.0.1
    cli_job_done:
        environment:
            - APP_ENV=dev
            - APP_SECRET=ToChange!
            - MESSENGER_JOB_DONE_DSN=ToChange!
            - MONGODB_SERVER=ToChange!
            - SPACE_JWT_PASSPHRASE=ToChange!
            - TEKNOO_EAST_EXTENSION_DISABLED=
            - TEKNOO_EAST_EXTENSION_FILE=extensions/enabled.json
            - TEKNOO_EAST_EXTENSION_LOADER=Teknoo\East\Foundation\Extension\FileLoader
            - TEKNOO_PAAS_SECURITY_ALGORITHM=rsa
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY=/var/www/space/var/keys/messages/private.pem
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY_PASSPHRASE=ToChange!
            - TEKNOO_PAAS_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/messages/public.pem
            - PHP_XDEBUG_HOST=172.17.0.1
    cli_history_sent:
        environment:
            - APP_ENV=dev
            - APP_SECRET=ToChange!
            - MESSENGER_HISTORY_SENT_DSN=ToChange!
            - MONGODB_SERVER=ToChange!
            - SPACE_JWT_PASSPHRASE=ToChange!
            - TEKNOO_EAST_EXTENSION_DISABLED=
            - TEKNOO_EAST_EXTENSION_FILE=extensions/enabled.json
            - TEKNOO_EAST_EXTENSION_LOADER=Teknoo\East\Foundation\Extension\FileLoader
            - TEKNOO_PAAS_SECURITY_ALGORITHM=rsa
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY=/var/www/space/var/keys/messages/private.pem
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY_PASSPHRASE=ToChange!
            - TEKNOO_PAAS_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/messages/public.pem
            - PHP_XDEBUG_HOST=172.17.0.1
    cli_execute:
        environment:
            - APP_ENV=dev
            - APP_SECRET=ToChange!
            - MESSENGER_EXECUTE_JOB_DSN=ToChange!
            - MESSENGER_HISTORY_SENT_DSN=ToChange!
            - MESSENGER_JOB_DONE_DSN=ToChange!
            - SPACE_JWT_PASSPHRASE=ToChange!
            - TEKNOO_EAST_EXTENSION_DISABLED=
            - TEKNOO_EAST_EXTENSION_FILE=extensions/enabled.json
            - TEKNOO_EAST_EXTENSION_LOADER=Teknoo\East\Foundation\Extension\FileLoader
            - TEKNOO_PAAS_SECURITY_ALGORITHM=rsa
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY=/var/www/space/var/keys/messages/private.pem
            - TEKNOO_PAAS_SECURITY_PRIVATE_KEY_PASSPHRASE=ToChange!
            - TEKNOO_PAAS_SECURITY_PUBLIC_KEY=/var/www/space/var/keys/messages/public.pem
            - PHP_XDEBUG_HOST=172.17.0.1
