###> symfony/framework-bundle ###
/config/secrets/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

*.bck
.php_cs.cache
.phpunit.result.cache
/.env.build
/.env.local
/.phpunit.cache/
/phpunitgen.php
/public/test.php
/tests/Behat/jwt/private.pem
/tests/Behat/jwt/public.pem
/tests/var/keys/private.pem
/tests/var/keys/public.pem
/.env.local.php
/public/build/js/*
/public/build/css/*
/global_variables.php
/vendor-bin/
