default:
    testers:
        stop_on_failure: true
        strict: true

    suites:
        default:
            contexts:
                - Teknoo\Space\Tests\Behat\SpaceContext

    extensions:
        DMarynicz\BehatParallelExtension\Extension: ~
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: Teknoo\Space\App\Kernel
                environment: test
