parameters:
    level: max
    paths:
        - config/
        - domain/
        - src/
        - infrastructures/
        - extensions/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#mixed#'
            path:  config/
        -
            message: '#Psr\\Container\\ContainerInterface::get#'
            path:  config/di.recipe.plans.php
        -
            message: '#is never read, only written#'
            path:  domain/Object/Persisted/
        -
            message: '#Cannot assign offset string to array#'
            path:  domain/Recipe/Step/Job/JobSetDefaults.php
        -
            message: '#Sluggable#'
            path:  domain/Recipe/Step/Account/SetAccountNamespace.php
        -
            message: '#::query\(\) expects#'
            path:  domain/Loader/Meta/
        -
            message: '#::fetch\(\) expects#'
            path:  domain/Loader/Meta/
        -
            message: '#Parameter \#3 \$promise#'
            path:  domain/Query/Project/CountProjectsInAccount.php
        -
            message: '#SpaceAccount#'
            path:  domain/Recipe/Step/Account/LoadAccountFromRequest.php
        -
            message: '#BatchManipulationManagerInterface::deleteQuery#'
            path:  domain/Writer/Meta/
        -
            message: '#ObjectInterface given#'
            path:  domain/Writer/PersistedVariableWriterTrait.php
        -
            message: '#runVisit\(\) is unused#'
            path:  domain/Object
        -
            message: '#Binary operation "\." between mixed#'
            path:   domain/
        -
            message: '#on left side of \?\? is unnecessary. Use -> instead#'
            path:   domain/
        -
            message: '#will always evaluate to true#'
            path:    domain/Recipe/Plan/Traits/PrepareAccountTrait.php
        -
            message: '#CreateRegistryDeployment::insertModel\(\) expects#'
            path:  infrastructures/Kubernetes/Recipe/Step/Registry/CreateRegistryDeployment.php
        -
            message: '#to string#'
            path:  infrastructures/Symfony/Form/Type/
        -
            message: '#mixed given#'
            path:  infrastructures/Symfony/Form/Type/
        -
            message: "#Cannot access offset 'readonly' on mixed#"
            path:  infrastructures/Symfony/Form/Type/
        -
            message: "#Cannot access an offset on mixed#"
            path:  infrastructures/Symfony/Form/Type/
        -
            message: '#on mixed#'
            path:   infrastructures/Kubernetes/Transcriber/IngressTranscriber.php
        -
            message: '#mixed#'
            path:   infrastructures/Twig/Extension/UpdateQueryField.php
        -
            message: '#Kernel::configureRoutes#'
            path:   src/Kernel.php
