space_admin_account_edit_variables:
    path: '/admin/account/{id}/variables'
    methods: ['GET', 'POST', 'PUT']
    defaults:
        _controller: 'teknoo.space.endpoint.admin.account.edit_without_steps'
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        formClass: 'Teknoo\Space\Infrastructures\Symfony\Form\Type\Account\VarsType'
        loader: '@Teknoo\Space\Loader\Meta\SpaceAccountLoader'
        template: '@@TeknooSpace/AdminAccount/variables.html.twig'
        writer: '@Teknoo\Space\Writer\Meta\SpaceAccountWriter'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"

space_admin_account_environment_reinstall:
    path: '/admin/account/{id}/environment/{envName}/{clusterName}/reinstall'
    methods: ['GET']
    defaults:
        _controller: 'teknoo.space.endpoint.admin.account.environment.reinstall'
        allowEmptyCredentials: true
        loader: '@Teknoo\East\Paas\Loader\AccountLoader'
        route: '_teknoo_paas_admin_account_edit'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"
        clusterCatalog: '@teknoo.space.clusters_catalog'

space_admin_account_registry_reinstall:
    path: '/admin/account/{id}/registry/reinstall'
    methods: ['GET']
    defaults:
        _controller: 'teknoo.space.endpoint.admin.account.registry.reinstall'
        allowEmptyCredentials: true
        loader: '@Teknoo\East\Paas\Loader\AccountLoader'
        route: '_teknoo_paas_admin_account_edit'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"
        clusterCatalog: '@teknoo.space.clusters_catalog'

space_admin_account_refresh_quota:
    path: '/admin/account/{id}/quota/refresh'
    methods: ['GET']
    defaults:
        _controller: 'teknoo.space.endpoint.admin.account.quota.refresh'
        loader: '@Teknoo\East\Paas\Loader\AccountLoader'
        route: '_teknoo_paas_admin_account_edit'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"
        clusterCatalog: '@teknoo.space.clusters_catalog'

space_admin_account_code_generator:
    path: '/admin/subscription/code'
    methods: ['GET', 'POST', 'PUT']
    schemes: ['https']
    defaults:
        _controller: 'teknoo.space.endpoint.code_generator'
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        formClass: 'Teknoo\Space\Infrastructures\Symfony\Form\Type\Account\CodeGeneratorType'
        objectClass: 'Teknoo\East\Common\Object\EmptyObject'
        template: '@@TeknooSpace/AdminAccount/code_generator.html.twig'
        cleanHtml: "%teknoo.space.rendering.clean_html%"

space_admin_account_clusters_list:
    path: '/admin/account/{accountId}/clusters'
    methods: [ 'GET' ]
    schemes: ['https']
    defaults:
        _controller: 'teknoo.space.endpoint.account_cluster.list'
        accountLoader: '@Teknoo\East\Paas\Loader\AccountLoader'
        allowAccountSelection: true
        defaultOrderDirection: 'ASC'
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        itemsPerPage: 20
        loader: '@Teknoo\Space\Loader\AccountClusterLoader'
        template: '@@TeknooSpace/AccountCluster/list.html.twig'

space_admin_account_clusters_edit:
    path: '/admin/account/{accountId}/cluster/{id}/edit'
    methods: ['GET', 'POST', 'PUT']
    defaults:
        _controller: 'teknoo.space.endpoint.account_cluster.edit'
        accountLoader: '@Teknoo\East\Paas\Loader\AccountLoader'
        allowAccountSelection: true
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        formClass: 'Teknoo\Space\Infrastructures\Symfony\Form\Type\Account\AccountClusterType'
        loader: '@Teknoo\Space\Loader\AccountClusterLoader'
        template: '@@TeknooSpace/AccountCluster/edit.html.twig'
        writer: '@Teknoo\Space\Writer\AccountClusterWriter'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"

space_admin_account_clusters_new:
    path: '/admin/account/{accountId}/cluster/new'
    methods: ['GET', 'POST', 'PUT']
    defaults:
        _controller: 'teknoo.space.endpoint.account_cluster.new'
        accountLoader: '@Teknoo\East\Paas\Loader\AccountLoader'
        allowAccountSelection: true
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        formClass: 'Teknoo\Space\Infrastructures\Symfony\Form\Type\Account\AccountClusterType'
        loader: '@Teknoo\Space\Loader\AccountClusterLoader'
        objectClass: 'Teknoo\Space\Object\Persisted\AccountCluster'
        route: 'space_admin_account_clusters_edit'
        template: '@@TeknooSpace/AccountCluster/new.html.twig'
        writer: '@Teknoo\Space\Writer\AccountClusterWriter'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"

space_admin_account_clusters_delete:
    path: '/admin/account/{accountId}/cluster/{id}/delete'
    methods: ['GET']
    defaults:
        _controller: 'teknoo.space.endpoint.account_cluster.delete'
        accountLoader: '@Teknoo\East\Paas\Loader\AccountLoader'
        allowAccountSelection: true
        deleter: '@teknoo.space.deleting.account_cluster'
        errorTemplate: '@@TeknooEastCommon/Error/default.html.twig'
        loader: '@Teknoo\Space\Loader\AccountClusterLoader'
        route: 'space_admin_account_clusters_list'
        cleanHtml: "%teknoo.east.paas.admin.rendering.clean_html%"
